## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns.
application_df.drop(["EIN"], axis=1, inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
above_one = application_df['CLASSIFICATION'].value_counts()
filtered_classifications = above_one[above_one > 1]
filtered_classifications

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(above_one[above_one < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Look at Name value counts to identify and replace with "Other"
name_counts = application_df['NAME'].value_counts()

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
names_to_replace = list(name_counts[name_counts < 150].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 27297
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_2 = pd.get_dummies(application_df, dtype=float)
application_2.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_2.drop(columns="IS_SUCCESSFUL")
y = application_2["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()
input_features = len(X_train_scaled[0])

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=15, activation="sigmoid"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

# fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                640

 dense_1 (Dense)             (None, 15)                165

 dense_2 (Dense)             (None, 10)                160

 dense_3 (Dense)             (None, 10)                110

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 1086 (4.24 KB)
Trainable params: 1086 (4.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
from keras.callbacks import ModelCheckpoint
checkpoint = ModelCheckpoint(filepath='model_weights.h5',
                             save_weights_only=True,
                             mode='auto',
                             save_freq='epoch',
                             period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50, callbacks=[checkpoint])

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5841 - accuracy: 0.7019
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5189 - accuracy: 0.7495
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5121 - accuracy: 0.7535
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5091 - accuracy: 0.7544
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5075 - accuracy: 0.7540
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5061 - accuracy: 0.7541
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5047 - accuracy: 0.7557
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5044 - accuracy: 0.7541
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5036 - accuracy: 0.7542
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5035 - accuracy: 0.7556
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5023 - accuracy: 0.7548
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5017 - accuracy: 0.7560
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5016 - accuracy: 0.7552
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5005 - accuracy: 0.7565
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5001 - accuracy: 0.7563
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5004 - accuracy: 0.7567
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4997 - accuracy: 0.7575
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4997 - accuracy: 0.7570
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4994 - accuracy: 0.7578
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4989 - accuracy: 0.7576
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4992 - accuracy: 0.7579
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4986 - accuracy: 0.7570
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4989 - accuracy: 0.7580
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4989 - accuracy: 0.7570
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4981 - accuracy: 0.7574
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4977 - accuracy: 0.7579
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4980 - accuracy: 0.7586
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4976 - accuracy: 0.7579
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4973 - accuracy: 0.7580
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4970 - accuracy: 0.7584
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4969 - accuracy: 0.7583
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4972 - accuracy: 0.7572
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4967 - accuracy: 0.7585
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4966 - accuracy: 0.7584
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4964 - accuracy: 0.7592
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4961 - accuracy: 0.7588
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4966 - accuracy: 0.7589
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4965 - accuracy: 0.7584
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4960 - accuracy: 0.7592
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4959 - accuracy: 0.7594
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4960 - accuracy: 0.7579
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4959 - accuracy: 0.7578
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4958 - accuracy: 0.7597
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4953 - accuracy: 0.7592
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4960 - accuracy: 0.7578
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4951 - accuracy: 0.7594
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4954 - accuracy: 0.7591
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4951 - accuracy: 0.7593
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4953 - accuracy: 0.7586
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4953 - accuracy: 0.7583

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5027 - accuracy: 0.7508 - 719ms/epoch - 3ms/step
Loss: 0.5027377605438232, Accuracy: 0.7507871985435486

In [20]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')